@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

:root{
    --bg: #f5f5f5;
    --cardgb: #EEE;
    --fg: #141414;
    --buttonbg: #cacaca;
    --accent: #17b978;

    --border: 5px;
    --shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
}

body{
    background-image: url("img/bamboo.jpg");
    background-color: var(--bg);
    font-family: 'Roboto Mono', monospace;
    color: var(--bg);
}

.card{
    width: 45%;
    margin: 5% auto;
    padding: 50px;

    border-radius: 25%;
    background-color: rgba(0, 0, 0, 0.507);
    box-shadow: var(--shadow);
}

.photo{
    margin: 10px auto;
    width: 250px;
    height: 250px;

    border-radius: 35%;
    overflow: hidden;
    box-shadow: var(--shadow);;
}

.photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.greeting{
    margin-top: 10px;
    text-align: center;
    font-size: 20px;

    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 35%;
}

.subtitle{
    margin-top: 10px;
}

.text{
    font-size: 15px;
    text-align: justify;
    font-weight: 500;
}
.block{
    margin-bottom: 20px;
}

.list_item{
    list-style: none;
}

.buttons{
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.button{
    background-color: var(--buttonbg);
    text-decoration: none;
    color: var(--fg);

    font-size: 15px;
    padding: 20px;
    border-radius: var(--border);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: all .3s ease-out;
}

.button:hover{
    background-color: var(--accent);
    box-shadow: 0 7px 10px rgba(0, 0, 0, 0.2);
    transform: translateY(-4px);
}

.list_button{
    text-decoration: none;
    color: var(--bg);
    transition: all .3s ease-out;
}

.list_button:hover{
    background-color: rgba(39, 219, 63, 0.534);
    border-radius: 15%;
    transform: translateY(-4px);
}